@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

body {
  background: #6d9ac4;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

/* Backgrounds */
.white-background {
    background: #fff;
  }

  .pink-background {
    background: rgba(235, 80, 126, 1);
  }

  /* Colors */
  .grey-color{
    color: #697784;
  }

  .light-grey-color{
      color: #8d8c8c;
  }

  .navy-color{
      color: #2a65b5;
  }

  .red-color{
    color: #cb1617;
}
/* Remove default styles */
.remove-margin,
body,
h1,
h2,
h3,
h4,
h5,
h6,
.form-label {
  margin: 0;
}

.remove-padding {
  padding: 0;
}

.pink-button{
    border-color: #ee5784 !important;
    border-radius: 8px !important;
}

.pink-button:hover{
    background: rgb(236, 38, 97);
}
/* Typography */
.bold {
  font-weight: bold;
}

.form-label{
    font-size: 14px;
}

.card-title{
    font-size: 20px;
}
/* Form Card */
.card-wrapper {
  width: 100%;
}

.form-card {
  min-height: 72vh;
  width: 25%;
  border-radius: 8px;
}

/* Dimensions */
.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.circle{
    border-radius: 50%;
    border: 2px solid;
    width: 25px;
    height: 25px;
    padding: 12px;
}

.icon{
    font-size: 14px;
}
.navy-border{
    color: #2a65b5;
}

.red-border{
  color: #cb1617;
}

/* Positioning */
.absolute{
    position: absolute !important;
}
.relative{
    position: relative !important;
}

.grey-line{
    height: .5px;
    background: #cccccc;
}
.or-text{
    border: 1px solid #cccccc;
    padding: 0 2px;
    font-size: 10px;
    border-radius: 3px;
    opacity: .8;
}

.pointer{
    cursor: pointer;
}